<% title "Módulo de Downloads" %>

<h1>Módulo de Downloads</h1><br />
<br />
<p>Verifique se as informações abaixo estão corretas.</p><br />
<br />

<p>
  <strong>Nome:</strong>
  <%= @download.name %>
</p>
<p>
  <strong>Nome do Arquivo:</strong>
  <%= @download.archive_file_name %>
</p>
<p>
  <strong>Tipo de Arquivo:</strong>
  <%= @download.archive_content_type %>
</p>
<p>
  <strong>Tamanho do Arquivo:</strong>
  <%= number_to_human_size(@download.archive_file_size) %>
</p>

<br />
<br />
<br />
<p>
	<%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_downloads_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
	<%= submit_tag "Baixar!",:type=>"button",:onclick=>"window.open('"+ baixar_admin_download_path(@download)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
	<%= submit_tag "Abrir!",:type=>"button",:onclick=>"window.open('"+ @download.archive.url+"','_new');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>		
</p>