<% title @company.company_name+" - "+ @bout.name %>

<h1><%= @company.company_name %> - <%=@bout.name%></h1><br />
<br />
<p>Verifique se as informações abaixo estão corretas.</p><br />
<br />
<p>
  <strong>Nome:</strong>
  <%= @bout.name %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= @bout.description %>
</p>
<p>
  <strong>Ativo:</strong>
  <%= print_active(@bout.active) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_company_bouts_path(@company)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>
