<% title @company.company_name+" - Lista de Setores" %>

<h1><%= @company.company_name %> - Setores</h1><br />
<p>Visualize abaixo a lista dos setores registrados no sistema.</p><br />
<br />
<p style="text-align: right;"><%= submit_tag "+ Criar novo",:type=>"button",:onclick=>"window.open('"+new_admin_company_sector_path(@company)+"','_self');", :class => "Bt_enviar"%> </p>
<br />
<table cellspacing="0" class="tablesorter">
  <thead> 
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Ativo</th>
    <th colspan="3" style="width:20%;">Ações</th>
  </tr>
  </thead> 
  <tbody>
  <% for sector in @sectors %>
    <tr <%='class=notactive' if !sector.active%>>
      <td><%= sector.name %></td>
      <td><%= sector.description %></td>
      <td><%= print_active(sector.active) %></td>

      <td><%= link_to "Visualizar", admin_company_sector_path(@company,sector) %></td>
      <td><%= link_to "Editar", edit_admin_company_sector_path(@company,sector) %></td>
      <td><%= link_to "Excluir", admin_company_sector_path(@company,sector), :confirm => 'Esta operação não poderá ser desfeita, deseja continuar?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
