<% title @company.fantasy_name %>
<%content_for :head do%>
	<%= stylesheet_link_tag "information"%>
<%end%>

<h1><%= @company.company_name %></h1><br />
<p>Bem-vindo ao painel de controle da <%=@company.fantasy_name %>. Clicando nas opções abaixo você poderá atualizar as informações referentes a este cliente.</p>
<div id="options">
	
	
	<div class="box_options">
		<%=link_to(image_tag("bt_adm_info.jpg"), [:admin, @company])%>
		<br />
		<p><%=link_to("Informações",[:admin, @company]) %></p>
	</div>

	<div class="box_options">
		<%=link_to(image_tag("bt_adm_setores.jpg"), admin_company_sectors_path(@company))%>
		<br />
		<p><%=link_to("Setores",admin_company_sectors_path(@company)) %></p>
	</div>
	
	<div class="box_options">
		<%=link_to(image_tag("bt_adm_func.jpg"), admin_company_functionaries_path(@company))%>
		<br />
		<p><%=link_to("Funcionários",admin_company_functionaries_path(@company)) %></p>
	</div>		
	
	<div class="box_options">
		<%=link_to(image_tag("bt_adm_lista.jpg"), admin_company_events_path(@company))%>
		<br />
		<p><%=link_to("Listas de Chamada",admin_company_events_path(@company)) %></p>
	</div>
	
	<div class="box_options">
		<%=link_to(image_tag("bt_adm_relatorio.jpg"),"#", :onclick=>"alert('Este recurso está sendo desenvovido')")%>
		<br />
		<p><%=link_to("Relatórios","#", :onclick=>"alert('Este recurso está sendo desenvovido')") %></p>
	</div>
	
	<div class="clear"></div>
</div>