<h1 class="Form_title">DADOS DA EMRPESA</h1>

<% title @company.fantasy_name %>

<p class="Form_p">
  <strong>Nome da Empresa:</strong>
  <%= @company.company_name %>
</p>
<p class="Form_p">
  <strong>Nome Fantasia:</strong>
  <%= @company.fantasy_name %>
</p>
<p class="Form_p">
  <strong>Segmento:</strong>
  <%= @company.segment %>
</p>
<p class="Form_p">
  <strong>Data da visita:</strong>
  <%= @company.date_visit %>
</p>
<p class="Form_p">
  <strong>Endereço:</strong>
  <%= @company.address %>
</p>
<p class="Form_p">
  <strong>Email:</strong>
  <%= @company.email %>
</p>
<p class="Form_p">
  <strong>Telefone:</strong>
  <%= @company.phone %>
</p>
<p class="Form_p">
  <strong>Endereço eletrônico:</strong>
  <%= @company.electronic_address %>
</p>
<p class="Form_p">
  <strong>Cnpj:</strong>
  <%= @company.cnpj %>
</p>
<p class="Form_p">
  <strong>Distrito:</strong>
  <%= @company.district %>
</p>
<p class="Form_p">
  <strong>Cidade:</strong>
  <%= @company.city %>
</p>
<p class="Form_p">
  <strong>Estado:</strong>
  <%= @company.state %>
</p>
<p class="Form_p">
  <strong>Cep:</strong>
  <%= @company.zip_code %>
</p>
<p class="Form_p">
  <strong>Responsavél:</strong>
  <%= @company.responsible %>
</p>
<p class="Form_p">
  <strong>Médico:</strong>
  <%= @company.doctor %>
</p>
<p class="Form_p">
  <strong>Enfermeiro(a):</strong>
  <%= @company.nurse %>
</p>
<p class="Form_p">
  <strong>Segurança:</strong>
  <%= @company.security %>
</p>
<p class="Form_p">
  <strong>Engenheiro:</strong>
  <%= @company.engineering %>
</p>
<p class="Form_p">
  <strong>Responsável pelo Rh:</strong>
  <%= @company.rh_responsible %>
</p>
<p class="Form_p">
  <strong>Contato do Rh:</strong>
  <%= @company.rh_contact %>
</p>
<h2 class="Form_title2">SOLICITAÇÃO PARA IMPLANTAÇÃO DO PROGRAMA DE GINÁSTICA LABORAL</h2>
<p class="Form_p2">
  <strong>Ginástica:</strong>
  <%= @company.gymnastics %>
</p>
<p class="Form_p2">
  <strong>Motivo da Ginástica:<br /></strong>
  <%= @company.reason_gymnastics %>
</p>
<p class="Form_p2">
  <strong>Qualidade:<br /></strong>
  <%= @company.quality %>
</p>
<p class="Form_p2">
  <strong>Mapa:<br /></strong>
  <%= @company.map %>
</p>
<p class="Form_p2">
  <strong>Absentismo(ociosidade):<br /></strong>
  <%= @company.absenteeism %>
</p>
<p class="Form_p2">
  <strong>Rodízio:<br /></strong>
  <%= @company.rotation %>
</p>
<p class="Form_p2">
  <strong>Funcionários Homens:</strong>
  <%= @company.male_workers %>
</p>
<p class="Form_p2">
  <strong>Funcionárias Mulheres:</strong>
  <%= @company.female_workers %>
</p>
<p class="Form_p2">
  <strong>Contrato:<br /></strong>
  <%= @company.agreement %>
</p>

<p class="Form_buttons">
  <%= link_to "Edit", edit_admin_company_path(@company) %> |
  <%= link_to "Destroy", [:admin, @company], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_companies_path %>
</p>
