<%content_for :title do%>
	Notícias :: WellnessFit – O Bem estar em sua melhor forma | Ginástica Laboral e Fisioterapia Corporativa
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_noticias.png", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">notícias</a></span></span>
		<h1 class="Title_internal_box_right">Notícias</h1><br />
		<ul>
			<% $i = 1 %>
			<%	@Uol.each do |uol|
				if ($i == 1)
					$numero = 1
					$i = 2
				else
					$numero = 2
					$i = 1					
				end
			%>
			<li class='lista_<%= $numero%>'>
				<h2><%= uol.pubDate.to_date.strftime("%d/%m/%Y")%> - <%= uol.title%></h2>
				<h3><%=	uol.description+". - " if !uol.description == "" %><span class='fonte'>Fonte UOL.</span> <span class='ler_mais'><%=link_to "Ler mais", uol.link, :target=>"_blank"%></span></h3>
			</li>
			<% end %>
			
			
			<% @Paho.each do |paho|
				if ($i == 1)
					$numero = 1
					$i = 2
				else
					$numero = 2
					$i = 1					
				end
			%>
			<li class='lista_<%= $numero%>'>
				<h2><%= paho.pubDate.to_date.strftime("%d/%m/%Y")%> - <%= paho.title%></h2>
				<h3><%=	paho.description+". - " if !paho.description == "" %><span class='fonte'>Fonte Organização Pan-Americana da saúde.</span> <span class='ler_mais'><%=link_to "Ler mais", paho.link, :target=>"_blank"%></span></h3>
			</li>
			<% end %>			
		</ul>
	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->
