<div id="Box_form">
<%= form_for ([:admin, @company, @functionary, @sector_functionary]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :sector_id, "Setor" %>
	<%= f.collection_select :sector_id,@sectors,:id,:name %>
  </p>
  <p>
    <%= f.label :start_date, "Inicio"%>
    <%= f.date_select :start_date, { :start_year => 1980, :end_year => Time.now.year,:include_blank => true} %>
  </p>
  <p>
    <%= f.label :end_date, "Fim" %>
    <%= f.date_select :end_date, { :start_year => 1980, :end_year => Time.now.year,:include_blank => true} %>
  </p>
  <br />
  <p><%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_company_functionary_sector_functionaries_path(@company,@functionary)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%> <%= f.submit "Salvar", :class => "Bt_enviar" %></p>
	<% end %>
</div>
