<div id="Box_form">
	<%= form_for [:admin, @status_presence] do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :abbreviation %><br />
	    <%= f.text_field :abbreviation %>
	  </p>
	  <p><%= submit_tag "Voltar",:type=>"button",:onclick=>"history.go(-1)", :class => "Bt_enviar", :style=>"margin-right: 5px;"%> <%= f.submit "Salvar", :class => "Bt_enviar" %></p>
	<% end %>
</div>