<%content_for :title do%>
	Sobre Nós :: WellnessFit – O Bem estar em sua melhor forma | Ginástica Laboral e Fisioterapia Corporativa
<%end%>
<%content_for :head do %>
	<%#= stylesheet_link_tag "cases" %>
	<%#=javascript_include_tag "showcases.js"%>
<%end%>
<div id="Content">
	<div id="Box_left">
		<%=image_tag ("img_awellnesfit.png", :width=>"243", :height=>"479", :class=>"Img_align") %>
	</div><!-- Box_left end -->
	<div id="Box_right">
		<span class="Breadcrumb"><span class="Breadcrumb"><%=link_to "wellness fit", root_path%></span> : <span class="Breadcrumb"><a href="#">sobre nós</a></span></span>
		<h1 class="Title_internal_box_right">A Wellness Fit</h1><br />
		<p class="Text_internal_box_right">
			WF é uma empresa provedora de bens e serviços composta por uma equipe de profissionais qualificados, com o compromisso de oferecer o que há de melhor e mais moderno na gestão de serviços para proporcionar a qualidade de vida, bem-estar e lazer.
			A equipe WF é especializada em implantar e aprimorar o atendimento promovendo ações que visem a proteção da saúde e integridade física do trabalhador, sempre com a preocupação de atender às necessidades das empresas que praticam a responsabilidade social.
			Montamos uma proposta diferenciada para sua empresa com o objetivo de mostrar a você e a seus colaboradores formas práticas para se manter uma "VIDA MAIS SAUDÁVEL".
		</p>
		<br /><br />
		<h2 class="Title_internal_box_right_medium">Visão:</h2><p class="Text_internal_box_right">Ser reconhecida como a melhor e mais eficiente instituição da saúde desta região e pela atuação em prol da inclusão social e do desenvolvimento corporativo.</p>
		<br /><br />
		<h2 class="Title_internal_box_right_medium">Missão:</h2><p class="Text_internal_box_right">Fornecer soluções, produtos e serviços de saúde e de qualidade de vida com determinação e competência, principalmente por meio da inclusão social e da promoção da mobilidade, contribuindo para o desenvolvimento sustentável e a construção de relacionamentos duradouros para a criação de valor aos clientes e a toda a sociedade.</p>
		<br /><br />
		<h2 class="Title_internal_box_right_medium">Valores:</h2><p class="Text_internal_box_right">nosso valor  é a busca da perfeição, a paixão pela excelência, entendida como amor e bem feito, e a ética, entendida como construção de valor no tempo através da sustentabilidade, a transparência e a valorização das pessoas. Queremos melhorar a qualidade de vida dos nossos clientes, guiados pela paixão em tudo o que fazemos.</p>
		
		<br /><br />
		<h2 class="Title_internal_box_right_medium">Conheça alguns de nossos clientes:</h2>
		<br />
		<%=image_tag ("Leo_Logo.jpg", :width=>"200", :height=>"200", :class=>"") %>
		<%=image_tag ("logo_Rigor.jpg", :width=>"200", :height=>"200", :class=>"") %>
		<%=image_tag ("logo smart.jpg", :width=>"200", :height=>"200", :class=>"") %>


	</div><!-- Box_right end -->
	<div class="clear"></div>
</div><!-- Content end -->
