<%" Administração de Usuários" %>

<h1>Usuários</h1><br />
<p>Verifique abaixo a lista dos usuários cadastrados no sistema.</p><br />
<br />
<br />
<div id="search">
<p>Informe o nome, sobrenome ou e-mail do usuário.</p>
<%=form_tag '/admin/users/search', :method => :get, :name=>"formkeyword"%>
	<%=text_field_tag :keyword, nil ,:style => "width:400px;"%>
	<%=submit_tag "Buscar", :class => "Bt_enviar"%>
</form>
<br><br>
</div>

<table cellspacing="0" class="tablesorter">
  <thead> 
  <tr>
    <th width="200px">Nome</th>
    <th width="200px">Sobrenome</th>
	<th width="200px">Email</th>
	<th colspan="3" style="width:20%;">Ações</th>
  </tr>
  </thead> 
  <tbody>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email%></td>
      <td><%= link_to "Visualizar", admin_user_path(user) %></td>
      <td><%= link_to "Editar", edit_admin_user_path(user) %></td>
      <td><%= link_to "Excluir", admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @users %>

<script>
	document.getElementById('keyword').focus();
</script>